body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.hidden {
    display: none;
}

.container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.box {
    text-align: center;
    cursor: pointer;
}

img {
    width: 200px;
    height: auto;
}
